# Sitename & payoff settings.
sitename: test
payoff: The amazing payoff goes here

# Theme
theme: intendit

# The primary domain
canonical: ''

# Thumbnail settings
thumbnails:
    allow_upscale: false

# Locales för multilang
# Språkval i frontend görs genom en localeswitcher
# För att dölja det språk man är på lägg in .localeswitcher.active {display:none;}
#locales:
#    sv_SE:
#        label: Svenska
#        slug: sv
#        image: 'sökväg till bild'
#    en_GB:
#        label: English
#        slug: en
#        image: 'sökväg till bild'
#    fi_FI:
#        label: Suomi
#        slug: fi
#        image: 'sökväg till bild'