sida:
    name: Sidor
    singular_name: Sida
    slug: sidor
    singular_slug: sida
    default_status: publish
    description: Dina sidor används för huvudsidor. Här skriver du in brödtexten, titeln och annat eventuellt innehåll för dina sidor.
    fields:
        title:
            type: text
            class: large
            group: content
            label: Titel
        slug:
            type: slug
            uses: title
            label: Permalänk
        imagelist:
            type: imagelist
            label: Bild
        body:
            type: html
            label: Brödtext
            height: 300px
        seo:
            type: seo
            group: "SEO inställningar"