# This file defines the different types of taxonomies in Bolt. See the
# documentation for details: http://docs.bolt.cm/taxonomies#taxonomies

#taggar:
#    name: Taggar
#    slug: taggar
#    singular_slug: tagg
#    behaves_like: tags
#    postfix: "Skriv ett par taggar, separera dem med mellanslag eller komma."

#kategorier:
#    name: Kategorier
#    slug: kategorier
#    singular_name: Kategori
#    singular_slug: kategori
#    behaves_like: categories
#    multiple: true
#    options: { batar: "Båtar", bilar: "Bilar", hus: "Hus" }

#grupper:
#    name: Grupper
#    slug: grupper
#    singular_slug: grupp
#    behaves_like: grouping
#    options: { batar: "Båtar", bilar: "Bilar", hus: "Hus" }
#    has_sortorder: true
